.main-div {
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, rgb(227, 118, 169), rgb(225, 213, 234));
  height: 100vh;
  background-size:990px;
  width: 100vmax;

}
.main-div .form p{
  color: rgb(116, 236, 116);
  margin-top: 5px;
}
.main-div .form span{
  color: rgb(221, 45, 14);
}
 h1 {
    color: rgb(57, 108, 190);
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 100px;
}

.form {
   margin-left: 40%;
margin-top: 10%;
height: 30%;
  width: 300px;
  background-color: #f5f5f5;
  padding: 60px;
  border-radius: 10px;
  align-items: center;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form button {
   width: 100%;
  padding: 10px;
  margin: auto;
  justify-content: space-around;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
  display: flex;
  position: relative;
}
.form button .btn02 {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}


@media (max-width: 768px) {
  .form {
    width: 80%;
    padding: 40px;
    margin-left: auto;
  }

  h1 {
    font-size: 20px;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 90%;
    padding: 40px;
    margin-left: auto;
  }

  h1 {
    font-size: 18px;
    margin-top: 30px;
  }
}